:root {
  --hue: 298;

  --container-color: hsl(var(--hue), 13%, 12%);
  --container-border: hsla(var(--hue), 19%, 83%, 0.12);
  --accent: hsl(var(--hue), 49%, 56%);

  --dropdown-color: var(--container-color);
  --dropdown-border: var(--container-border);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Inter.ttf) format('truetype');
}

html {
  background-color: hsl(var(--hue), 15%, 8%);
  color: hsl(var(--hue), 15%, 83%);
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row {
  display: flex;
  gap: 5px;
}

.row .left {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.row .right {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

input[type="checkbox"] {
  margin: 0;
  width: 14px;
  height: 14px;
}
input[type="checkbox"]:checked {
  accent-color: ;
}
label {
  font-size: 18px;
}