.score-stats {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: left;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.stat.accuracy {
    width: 90px;
}

.stat.score {
    width: 90px;
}

.stat.combo {
    width: 70px;
}

.stat-max-value {
    font-weight: 700;
    font-size: 11px;
    position: absolute;
    top: -10px;
    opacity: 0.85;
}

.stat-value {
    font-size: 20px;
    font-weight: 600;
}

.stat-label {
    font-size: 14px;
    opacity: 0.65;
}

.played-at {
    position: absolute;
    bottom: 0;
    right: 0;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.perfect-value {
    --color: #A8F062;
    text-shadow: 0 0 6px var(--color);
    color: var(--color);
}

.rank .rank-X, .rank .rank-XH {
    --color: #de31ae;
}
.rank .rank-S, .rank .rank-SH {
    --color: #02b5c3;
}
.rank .rank-A {
    --color: #88da20;
}
.rank .rank-B {
    --color: #e3b130;
}
.rank .rank-C {
    --color: #ff8e5d;
}
.rank .rank-D {
    --color: #ff5a5a;
}
.rank .rank-F {
    --color: #3f3f3f;
}

.rank {
    text-shadow: 0 0 6px var(--color);
    color: var(--color);
}