
.container {
    margin: 10px;
    background-color: var(--container-color);
    border: 1px solid var(--container-border);
}

.container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: sticky;
    top: 0;
    background-color: var(--container-color);
    border-bottom: 1px solid var(--container-border);
    z-index: 10000;
}
.container .header .left {
    font-size: 20px;
    font-weight: 500;
    user-select: none;
    padding: 10px;
    display: flex;
    align-items: center;
}
.container .header .right {
    font-size: 20px;
    font-weight: 500;
    user-select: none;
    display: flex;
    align-items: center;
}

.container .body {
    padding: 10px;
}